:root {
    --main-color: #3f70f4;
    --text-border-color: #53565A;
}

.sidebar {
    background-color: #fff;
    width: calc(100vh / 4);
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}

.sidebar_list-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    border-radius: 5px;
}

.sidebar_list-item:hover {
    background-color: #B0C3F9;
    cursor: pointer;
}

.sidebar_link {
    text-decoration: none;
    color: var(--text-border-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

.page {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    row-gap: 15px;
    background-color: #fff;
    min-height: 350px;
    min-width: 300px;
    border-radius: 10px;
}

.form_registration,
.form_login {
    display: none;
}

.form,
.button {
    border: 1px solid transparent;
}

.form_title {
    font-size: 1.5em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
}

.form_title,
.personal_data-input,
.button {
    min-width: 80%;
}

.accept {
    display: flex;
    gap: 10px;
    min-width: 250px;
}

.personal_data-input {
    border: 1px solid;
    border-color: var(--text-border-color);
}

.button {
    color: #fff;
    background-color: var(--main-color);
}

.personal_data-input,
.button {
    border-radius: 5px;
    min-height: 40px;
}

.button:hover {
    background-color: #1F387A;
    cursor: pointer;
}

.link {
    color: var(--main-color);
}

.link:hover {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    cursor: pointer;
}